<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/user" class="active">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="/user/pedidos" class="active">Pedidos</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="#">Pedido</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Revisar el pedido #<%= order.id %></h3>
            </div>
            <div class="stepper-wrapper">
                <div class="stepper-item completed active">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">En preparación</div>
                </div>
                <div class="stepper-item">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">En camino</div>
                </div>
                <div class="stepper-item">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">Entregado</div>
                </div>
            </div>
            <div class="moreInfo">
                
                <div class="details">
                    <div>
                        <h5>Producto</h5>
                        <span><%= order.name %></span>
                    </div>
                    <div>
                        <h5>Cantidad</h5>
                        <span><%= order.quantity %></span>
                    </div>
                    <div>
                        <h5>Description</h5>
                        <p><%= order.description %></p>
                    </div>
                    <div>
                        <h5>img</h5>
                        <img src="<%= order.img %>" alt="" width="100px">
                    </div>
                </div>
                
            </div>
            <form action="/user/pedidos/check/<%= order.id %>" method="post" id="form">
                <button class="createBtn">Confirmar Envio</button>
            </form>
        </div>
    </div>
</main>
<script>
    let order = JSON.parse('<%- JSON.stringify(order) %>');
</script>
<script src="<%= getFile('user/js/orderHandler.js') %>"></script>
<script src="<%= getFile('user/js/order.js') %>"></script>