<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/admin">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Crear pedidos</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="post" action="/admin/pedidos/create" class="register" id="form">
        <div class="inputs">
            <% for (let x of products) { %>
                <div class="input">
                    <img src="<%= x.img %>" alt="">
                    <h3><%= x.name %></h3>
                    <small><%= x.quantity %></small>
                    <div class="buttons">
                        <button class="decrease">-</button>
                        <span class="quantity">0</span>
                        <input type="number" class="id-input" style="display: none;" name="id[]" value="<%= x.id %>" disabled>
                        <input type="number" class="quantity-input" style="display: none;" name="quantity[]" value="0" disabled>
                        <input type="number" class="quantity-default" style="display: none;" value="<%= x.quantity %>" disabled>
                        <input type="number" class="quantity-max" style="display: none;" value="<%= x.max %>" disabled>
                        <button class="increase">+</button>
                    </div>
                </div>
            <% } %>
            <!-- <div class="input">
                <img src="<%= getFile('images/voligoma.png') %>" alt="">
                <h3>asd</h3>
                <small>0</small>
                <div class="buttons">
                    <button>-</button>
                    <span>0</span>
                    <button>+</button>
                </div>
            </div> -->
            <br>
        </div>
        <button class="createBtn" value="submit">Crear pedido</button>
    </form>
</main>
<script src="<%= getFile('admin/js/pedidos-create.js') %>"></script>